<div class="hero-unit">
  <h1>How it works</h1>
  <p>We've seen a shift in the way companies can effectively reach their target demographics. Traditional mediums no longer have the sway they used to. Now is the time you, the social media-er, can use your influence and benefit from it.</p>
  <p>
    <a class="btn btn-primary btn-large">
      Sign up now
    </a>
  </p>
</div>





