
<h1>About</h1>
	<p> After X years in advertising we reconized a trend in the way companies could effectively reach their target demographics. 
	</p>	
<p>
	Please meet the <%= link_to "master","http://www.linkedin.com/profile/view?id=61282695&trk=nav_responsive_tab_profile" %>
</P>