
			<div class="jumbotron">
				<div>
				<vertical align="middle">

					<h1>SocEnd</h1>

					
					<p>
					Earn free rewards and cash for helping local companies grow their business
					</p>
					
					<p>
					 <%= link_to "How it works","http://www.linkedin.com/profile/view?id=61282695&trk=nav_responsive_tab_profile"  %>
					</p>	

					<p>
					Be an endorser 
					</p>

					<p>
					<%= link_to "Sign Up Now", new_user_registration_path, class: "btn btn-primary btn-large" %>
					</p>
				</div>	
			</div>

	