<div class=".container-fluid">
	<div class=".row-fluid">

			<div class="hero-unit">
				
					<h1>SocEnd</h1>
					
					<p>
					Social Advertising <%= link_to "Revolution","http://www.linkedin.com/profile/view?id=61282695&trk=nav_responsive_tab_profile"  %>
					</p>	

					<p>
					Gone are the days of placing large amounts of money in traditional media and expecting to reach the right people, and even if people see your ad will it even resonate? 
					</p>

					<p>
					<%= link_to "Sign Up Now", "#" %>
					</p>
			</div>

	</div>		
</div>	
